fastapi
uvicorn[standard]
pydantic
alembic
psycopg2-binary
python-dotenv
black
isort
pytest 
prometheus_fastapi_instrumentator
redis
httpx
PyJWT 

email-validator 
passlib[bcrypt] 
boto3
requests
python-multipart
numpy
psutil